@model Cliente//definindo model
<tr>
    <td class="table-dark">@Html.DisplayFor(model => model.Nome)</td>
    <td class="table-dark">@Html.DisplayFor(model => model.Contato)</td>
    <td class="table-dark">@Html.DisplayFor(model => model.Email)</td>
    <td class="table-dark">@Html.DisplayFor(model => model.Cidade)</td>
    <td class="table-dark">@Html.DisplayFor(model => model.Estado)</td>
    <td class="table-dark"><a asp-action="Editar" asp-route-id="@Model.Id"><button
                class="btn btn-primary">Editar</button></a></td>
    <td class="table-dark"><a asp-action="Detalhes" asp-route-id="@Model.Id"><button
                class="btn btn-primary">Detalhes</button></a></td>
    <td class="table-dark"> <a asp-action="Delete" asp-route-id="@Model.Id"><button
                class="btn btn-primary">Deletar</button></a></td>

</tr>