@model IEnumerable<Produto>
<div class="container">
    <h1>@ViewBag.Titulo</h1>

    <a asp-action="CriarProduto"><button class="btn btn-primary">Criar Produto</button></a>

    <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <table class="table table-dark table-striped text-center">
                <thead>
                    <tr>
                        <br>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Nome)</th>
                        <th>@Html.DisplayNameFor(model => model.Quantidade)</th>
                        <th>@Html.DisplayNameFor(model => model.Preco)</th>
                        <th><input type="hidden" name=""></th>
                        <th><input type="hidden" name=""></th>
                        <th><input type="hidden" name=""></th>
                        <th><input type="hidden" name=""></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => i.Id)</td>
                        <td>@Html.DisplayFor(model => i.Nome)</td>
                        <td>@Html.DisplayFor(model => i.Quantidade)</td>
                        <td>@Html.DisplayFor(model => i.Preco)</td>
                        <td ><a asp-action="Editar" asp-route-id="@i.Id"><button
                                    class="btn btn-primary btn-lg">Editar</button></a></td>
                        <td ><a asp-action="Detalhes" asp-route-id="@i.Id"><button
                                    class="btn btn-primary btn-lg">Detalhes</button></a></td>
                        <td > <a asp-action="ExcluirProduto" asp-route-id="@i.Id"><button
                                    class="btn btn-primary btn-lg">Deletar</button></a></td>
                        <td>
                            <a asp-action="AddProduto"><svg width="100" height="100">
                                <circle cx="50" cy="50" r="40" stroke="black" stroke-width="2" fill="transparent"/>
                                <line x1="30" y1="50" x2="70" y2="50" stroke="black" stroke-width="2"/>
                                <line x1="50" y1="30" x2="50" y2="70" stroke="black" stroke-width="2"/>
                                    
                            </svg></a>
                        </td>
                        </tr>
                        
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
