@model ClienteListViewModel

@* @{
Usada para trocar o template padrao da pagina
Layout = null;
} *@

<a asp-action="Criar"><button>Cadastrar Cliente</button></a>
<div class="filter">
    <form asp-action="Index">
        <input type="search" placeholder="Filtrar Cliente" name="pesquisa">
        <button type="submit">Filtrar</button>
    </form>
    <br>
</div>
<hr>
<h1 class="Nome">@ViewBag.Titulo</h1>






<div class="container">
    <div class="row">
        

        @foreach (var i in Model.Clientes)
        {
            <partial name="_ClienteResumo" for="@i"/>
        }

        <h1>@ViewData["Data"]</h1>
        <h2>@ViewBag.Total:@ViewBag.TotalClientes</h2>
        <h2>@TempData["Nome"]</h2>
    </div>
</div>
