@model ClienteListViewModel

@* @{
Usada para trocar o template padrao da pagina
Layout = null;
} *@

<a asp-action="Criar"><button>Cadastrar Cliente</button></a>
<div class="filter">
    <form asp-action="Index">
        <input type="search" placeholder="Filtrar Cliente" name="pesquisa">
        <button type="submit">Filtrar</button>
    </form>
    <br>
</div>
<hr>
<h1 class="Nome">Clientes</h1>






<div class="container">
    <div class="row">

        @foreach (var i in Model.Clientes)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p>Nome: @Html.DisplayFor(model => i.Nome)</p>
                <p>Contato: @Html.DisplayFor(model => i.Contato)</p>
                <p>Email: @Html.DisplayFor(model => i.Email)</p>

                <a asp-action="Editar" asp-route-id="@i.Id"><button>Editar</button></a>
                <a asp-action="Detalhes" asp-route-id="@i.Id"><button>Detalhes</button></a>
                <a asp-action="Delete" asp-route-id="@i.Id"><button>Deletar</button></a>
            </div>


        }




        <h1>@ViewData["Data"]</h1>
        <h2>@ViewBag.Total:@ViewBag.TotalClientes</h2>
        <h2>@TempData["Nome"]</h2>
    </div>
</div>
