@model EditarUsuarioViewModel

<table class="table">
    <tr>
        <td>
            <img src="https://pontualinformatica.net.br/assets/images/logo-pontual-png-231x121.png" alt="Pontual">
        </td>
        <td>
            <div class="row">
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <h4>Editar Usuario</h4>
                    <form asp-controller="Usuarios" asp-action="EditarUsuario">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <label asp-for="UserName" class="col-md-2 control-label"></label>
                            <input asp-for="UserName" class="form-control">
                            @Html.ValidationMessageFor(Model => Model.UserName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">

                            <label asp-for="Email" class="col-md-2 control-label"></label>
                            <input asp-for="Email" class="form-control">
                            @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
                        </div>

                         <div class="form-group">

                            <label asp-for="TipoUsuario" class="col-md-2 control-label"></label>
                            <select asp-for="TipoUsuario" class="form-select">
                                <option selected>Escolha o Perfil do Usuario</option>
                                <option value="Admin">Admin</option>
                                <option value="Tecnico">Tecnico</option>
                            </select>
                            @Html.ValidationMessageFor(Model => Model.TipoUsuario, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="currentPassword" class="col-md-2 control-label"></label>
                            <input asp-for="currentPassword" class="form-control">
                            @Html.ValidationMessageFor(Model => Model.currentPassword, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <input asp-for="Password" class="form-control">
                            @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control">
                            @Html.ValidationMessageFor(Model => Model.ConfirmPassword, "", new { @class = "text-danger" })

                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-primary" value="Editar">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>