@model IEnumerable<Cliente>

@{
    //Usada para trocar o template padrao da pagina
    @* Layout = null; *@
}
<h1 class="Nome">@ViewBag.Titulo</h1>
<a asp-action="Criar"><button class="btn btn-primary">Adicionar Cliente</button></a>
<br>
<br>

<div class="container">
    @* <partial name="_SearchCliente"> Nao Implementado ainda*@
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(Model => Model.Nome)</th>
                        <th>@Html.DisplayNameFor(Model => Model.Contato)</th>
                        <th>@Html.DisplayNameFor(Model => Model.Email)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <partial name="_ClienteResumo" for="@i" />
                    }
                </tbody>
            </table>
        </div>
    </div>


    @* <h1>@ViewData["Data"]</h1>
    <h2>@ViewBag.Total:@ViewBag.TotalClientes</h2>
    <h2>@TempData["Nome"]</h2> *@

</div>
